/*版心*/
body{
	background-color: #f8f8f8;
}
.r_w{
	width:1349px;
	height:460px;
	
	}
/*头部样式开始*/
#reg_header{
	
	height: 88px;

}
.reg_hb{
	position: relative;
	height: 88px;
}
.logo_img{
	height: 88px;
	width: 190px;
	margin-top: 17px;
	background:url(../img/logo.png)no-repeat; 
	float: left;
}
.logo_text{
	float: left;
	width: 182px;
	height: 88px;
	line-height: 88px;
	font-size: 32px;
	margin-left:20px ;
}
.to_log{
	font-size:14px ;
	color: black;
	position: absolute;
	bottom: 5px;
	right: 0px;
}

/*头部样式结束*/
/*主体样式开始*/
#reg_body{
	height: 460px;
}
.form_reg{
	border: 1px solid #EAEAEA;
	border-top: 2px solid #FF6600;
	padding: 55px 0px;
	height: 460px;
	background:url(../img/aaa.jpg) no-repeat; 
	background-size:1350px auto;
	}
.form_table{
	position: relative;
    left: -400px;
    margin: 0 auto;
    height: 390px;
    width: 380px;
    border: 1px solid white;

}
.gife_pkg{
	position: absolute;
	padding-left: 2px;
	height: 17px;
	left: 0px;
	top: 0px;
}
.gife_pkg i{
	font-family: "icomoon";
	font-style: normal;
	font-weight: normal;
	color: #fe9900;
}
.reg_method{
	position: relative;
	height: 50px;
	border-bottom: 1px solid #eee;
}
.reg_method a{
	text-align: center;
	line-height: 50px;
	width: 179px;
	font-size: 16px;
	font-weight: bold;
	float: left;
	color: white;
}
.reg_method a:hover{
	color: #00BBEE;
}
#reg_user{
	width: 100px;
	height: 40px;
	margin-left: 100px;
	margin-bottom: 40px;
	color: white;
}
#reg_manager{
	width: 120px;
	height: 40px;
	margin-left: 50px;
	margin-bottom: 40px;
	color: white;
}
#register_form1{
	position: relative;
	height: 340px;
	width: 380px;
	
}
#register_form2{
	position: relative;
	height: 340px;
	width: 380px;
	
}
.gife_pkg em{
	font-style: normal;
	color: #FE9900;
}
.form_table input{
	font-size: 14px;
	height: 36px;
	border: 0px;
	border-bottom: 1px solid #545454;
}
.form_table label{
	color: #000000;
	font-size: 14px;
	height: 38px;
	width: 76px;
	padding-left: 11px;
	text-align: center;
}
.reg_phone{
	position: absolute;
	top: 30px;
	width: 378px;
	height: 38px;
	border: 1px solid #545454;
	background-color: white;
}
.reg_phone input{
	margin-left: 16px;
	border-left: 1px solid #ccc;
}

.reg_note{
	position: absolute;
	top: 90px;
	width: 378px;
	height: 38px;
	border: 1px solid #545454;
    background-color: white;
}
.reg_note input{
	border-left: 1px solid #ccc;
}
.reg_note a{
    display: block;
    font-size: 16px;
    text-align: center;
    border: 1px solid #545454;
    border-top: 0px;
	width: 103px;
	height: 38px;
	line-height: 38px;
	float: right;
	background-color: #EAEAEA;
}
.reg_psw{
	top: 160px;
	position: absolute;
	width: 378px;
	height: 38px;
	border: 1px solid #545454;
	background-color: white;
}

.reg_psw input{
	border-left: 1px solid #ccc;
	margin-left: 16px;
}
#tiao_yue{
	position: absolute;
	top: 230px;
	width: 380px;
	height: 48px;
	font-size: 12px;
}
#tiao_yue input{
	float: left;
}
#tiao_yue a{
	margin-top: 10px;
	display: block;
	float: left;
	font-size: 12px;
	color: #FFFFFF;
}
#jing_gao{
	display: none;
	margin-top: 5px;
	float: left;
	color: red;
	font-size:14px ;
}
#submit1{
	display: block;
	position: absolute;
	bottom: 20px;
	color: white;
	font-size: 20px;
	width: 380px;
	height: 40px;
	padding: 0;
	border: 0px;
	background-color: #FE9900;
	cursor: pointer;
}
#submit1:hover{
	cursor: pointer;
}
#submit2{
	display: block;
	position: absolute;
	bottom: 20px;
	color: white;
	font-size: 20px;
	width: 380px;
	height: 40px;
	padding: 0;
	border: 0px;
	background-color: #FE9900;
	cursor: pointer;
}
#submit2:hover{
	cursor: pointer;
}
/*主体样式开始*/